<footer class="page-footer">
    <div class="container footer-wrapper">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="blue-grey-text text-lighten-5">ABOUT</h5>
                <p class="blue-grey-text text-lighten-2">This is a totally free open-source project. You can view all the code in my github repository or contribute! I also appreciate any donations to help keep this kind of project running, so consider buying me a coffee! </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="blue-grey-text text-lighten-5">LINKS</h5>
                <ul>
                    <li><a class="cyan-text text-darken-3" href="https://buymeacoffee.com/MingLeeNg" target="_blank">Buy me a coffee!</a></li>
                    <li><a class="cyan-text text-darken-3" href="https://minglee.me" target="'_blank">Visit my webpage!</a></li>
                    <li><a class="cyan-text text-darken-3" href="https://github.com/redconOne/acft" target="_blank">Github Repository</a>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container blue-grey-text text-lighten-5">
        © 2022 created by Ming Lee Ng
        </div>
    </div>
</footer>