<nav>
  <div class="">
    <a href="/scores">ACFT TRACKER</a>
    <a href="#" data-target="mobile-demo" class=""><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/scores">Home</a></li>
        <li><a href="/records">Records</a></li>
        <li><a href="/logout">Logout</a></li>  
      </ul>
  </div>
</nav>