<nav class="navbar bg-base-300">
  <div class="flex-1">
    <a href="/scores" class="btn btn-ghost normal-case text-xl">ACFT TRACKER</a>
  </div>
  <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a href="/scores">Home</a></li>
        <li><a href="/records">Records</a></li>
        <li><a href="/logout">Logout</a></li>  
      </ul>
  </div>
</nav>