<%-include("./partials/header")-%>

<body>
    <%-include("./partials/navigation")-%>
    <div class="min-h-screen bg-base-200 text-center grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mx-auto">

        <div class="card bg-base-100 shadow xl w-full">
            <div class="card-body">
                <h2 class="card-title justify-center">Identifiers (Do this section first)</h2>
                <div class="justify-center">
                    <select id="gender" class="select select-bordered w-full max-w-xs justify-center">
                        <option disabled selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="justify-center">
                    <select id="age-group" class="select select-bordered w-full max-w-xs justify-center">
                        <option disabled selected>Age Group</option>
                        <option value="1">17-21</option>
                        <option value="2">22-26</option>
                        <option value="3">27-31</option>
                        <option value="4">32-36</option>
                        <option value="5">37-41</option>
                        <option value="6">42-46</option>
                        <option value="7">47-51</option>
                        <option value="8">52-56</option>
                        <option value="9">57-61</option>
                        <option value="10">Over 62</option>
                    </select>
                </div>
            </div>
        </div>
            <div class="card bg-base-100 shadow xl w-full">
                
                <div class="card-body">
                    <h2 class="card-title justify-center">3 Repetition Maximum Deadlift (MDL)
                        <label for="MDLModal" class="modal-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </label>
                    </h2>
                    <div>
                        <div class="input-group">
                            <input id="MDL-score" type="text" placeholder="0" class="input input-bordered input-primary w-full max-w-xs" />
                            <span id="MDL-points">0 points</span>
                        </div>
                    </div>
                    <input id='MDL-slider' value='0' type="range" class="range range-primary" min="0" max="340">
                </div>
            </div>

            <div class="card bg-base-100 shadow xl w-full">
                <div class="card-body">
                    <h2 class="card-title justify-center">Standing Power Throw (SPT)
                        <label for="SPTModal" class="modal-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </label>
                    </h2>
                    <div>
                        <div class="input-group">
                            <input id="SPT-score" type="text" placeholder="0" class="input input-bordered input-primary w-full max-w-xs" />
                            <span id="SPT-points">0 points</span>
                        </div>
                    </div>
                    <input id='SPT-slider' value='0' type="range" class="range range-primary" min="0" max="140">
                </div>
            </div>

            <div class="card bg-base-100 shadow xl w-full">
                <div class="card-body">
                    <h2 class="card-title justify-center">Hand release Push-Up (HRP)
                        <label for="HRPModal" class="modal-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </label>
                    </h2>
                    <div>
                        <div class="input-group">
                            <input id="HRP-score" type="text" placeholder="0" class="input input-bordered input-primary w-full max-w-xs" />
                            <span id="HRP-points">0 points</span>
                        </div>
                    </div>
                    <input id='HRP-slider' value='0' type="range" class="range range-primary" min="0" max="62">
                </div>
            </div>

            <div class="card bg-base-100 shadow xl w-full">
                <div class="card-body">
                    <h2 class="card-title justify-center">Sprint Drag Carry (SDC)
                        <label for="SDCModal" class="modal-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </label>
                    </h2>
                    <div>
                        <div class="input-group">
                            <input id="SDC-score" type="text" placeholder="0" class="input input-bordered input-primary w-full max-w-xs" />
                            <span id="SDC-points">0 points</span>
                        </div>
                    </div>
                    <input id='SDC-minutes' type="range" class="range range-primary" value='0' min="0" max="5">
                    <input id='SDC-seconds' type="range" class="range range-primary" value='0' min="0" max="59">
                </div>
            </div>

            <div class="card bg-base-100 shadow xl w-full">
                <div class="card-body">
                    <h2 class="card-title justify-center">Plank (PLK)
                        <label for="PLKModal" class="modal-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </label>
                    </h2>
                    <div>
                        <div class="input-group">
                            <input id="PLK-score" type="text" placeholder="0" class="input input-bordered input-primary w-full max-w-xs" />
                            <span id="PLK-points">0 points</span>
                        </div>
                    </div>
                    <input id='PLK-minutes' type="range" class="range range-primary" value='0' min="0" max="5">
                    <input id='PLK-seconds' type="range" class="range range-primary" value='0' min="0" max="59">
                </div>
            </div>

            <div class="card bg-base-100 shadow xl w-full">
                <div class="card-body">
                    <h2 class="card-title justify-center">2 Mile Run (2MR)
                        <label for="TMRModal" class="modal-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </label>
                    </h2>
                    <div>
                        <div class="input-group">
                            <input id="TMR-score" type="text" placeholder="0" class="input input-bordered input-primary w-full max-w-xs" />
                            <span id="TMR-points">0 points</span>
                        </div>
                    </div>
                    <input id='TMR-minutes' type="range" class="range range-primary" value='0' min="13" max="27">
                    <input id='TMR-seconds' type="range" class="range range-primary" value='0' min="0" max="59">
                </div>
            </div>
        <button id="submit" class="btn btn-primary">SUBMIT</button>
    </div>

    <input type="checkbox" id="MDLModal" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">3 Repetition Maximum Deadlift (MDL)</h3>
            <p class="py-4">The MDL assesses the Muscular Strength component of fitness by measuring a Soldier's lower body, grip, and core muscular strength. It requires well-conditioned back and leg muscles and helps Soldiers to avoid hip, knee, and lower back injuries. Flexibility and balance are secondary components of fitness assessed by the MDL.</p>
            <div class="modal-action">
                <label for="MDLModal" class="btn">Close</label>
            </div>
        </div>
    </div>

    <input type="checkbox" id="SPTModal" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Standing Power Throw (SPT) </h3>
            <p class="py-4">The SPT event assesses the Power component of fitness by measuring a Soldier's ability to generate quick, explosive movements with their upper and lower body. Secondary components of fitness assessed by the SPT include Balance, Coordination, and Flexibility.</p>
            <div class="modal-action">
                <label for="SPTModal" class="btn">Close</label>
            </div>
        </div>
    </div>

    <input type="checkbox" id="HRPModal" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Hand Release Push-Up (HRP)</h3>
            <p class="py-4">The HRP assesses the Muscular Endurance component of fitness by measuring a Soldier's upper body endurance. The HRP is a strong driver for upper body and core strength training. Flexibility is a secondary component of fitness assessed by the HRP.</p>
            <div class="modal-action">
                <label for="HRPModal" class="btn">Close</label>
            </div>
        </div>
    </div>

    <input type="checkbox" id="SDCModal" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Sprint Drag Carry (SDC)</h3>
            <p class="py-4">The SDC assesses the Muscular Endurance, Muscular Strength, Anaerobic Power, and Anaerobic Endurance components of fitness by measuring a Soldier's ability to sustain moderate to high intensity muscular work over a short duration. Secondary components of fitness assessed by the SDC include Balance, Coordination, Agility, Flexibility, and Reaction Time.</p>
            <div class="modal-action">
                <label for="SDCModal" class="btn">Close</label>
            </div>
        </div>
    </div>

    <input type="checkbox" id="PLKModal" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Plank (PLK)</h3>
            <p class="py-4">The PLK assesses the Muscular Endurance component of fitness by measuring a Soldier's core strength and endurance. Balance is a secondary component of fitness assessed by the PLK.</p>
            <div class="modal-action">
                <label for="PLKModal" class="btn">Close</label>
            </div>
        </div>
    </div>

    <input type="checkbox" id="TMRModal" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="font-bold text-lg">Two-Mile Run (2MR)</h3>
            <p class="py-4">The 2MR assesses the Aerobic Endurance component of fitness. Higher aerobic endurance allows a Soldier to work for long periods of time and to recover more quickly when executing repetitive physical tasks.</p>
            <div class="modal-action">
                <label for="TMRModal" class="btn">Close</label>
            </div>
        </div>
    </div>

    <%-include("./partials/footer")-%>
	<script src="js/script.js"></script>
</body>
</html>