<%-include("./partials/header")-%>

<body>

	<nav>
    <div class="">
        <button class="btn w-64 rounded-full bg-accent">BUTTON</button>
      <a href="/scores">ACFT TRACKER</a>
      <a href="#" data-target="mobile-demo" class=""><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
        
      </ul>
    </div>
		<ul class="" id="mobile-demo">
			<li><a href="/">Home</a></li>
			<li><a href="/logout">Logout</a></li>
			
		</ul>
  </nav>


  <div class="">
    <h1 class="">ACFT Scores</h1>

    <div class="">
        <h3 class="title">3 Repetition Maximum Deadlift (MDL)</h3>
        <div class="">
            <input id="MDL-slider" type="range" min="0" max="340" value="170">
            <span id="MDL-points"></span>
        </div>
    </div>
    <div class="card">
        <h3 class="title">Standing Power Throw (SPT)</h3>
        <div class="slidecontainer">
            <input id="SPT-slider" type="range" min="0" max="125" value="62">
            <span id="SPT-points"></span>
        </div>
    </div>
    <div class="card">
        <h3 class="title">Hand Release Pushups (HRP)</h3>
        <div class="slidecontainer">
            <input id="HRP-slider" type="range" min="0" max="60">
            <span id="HRP-points"></span>
        </div>
    </div>
    <div class="card">
        <h3 class="title">Sprint Drag Carry (SDC)</h3>
        <div class="slidecontainer">
            <input id="SDC-minutes" type="range" min="0" max="3">
            <input id="SDC-seconds" type="range" min="0" max="59">
            <span id="SDC-points"></span>
        </div>
    </div>
    <div class="card">
        <h3 class="title">Plank (PLK)</h3>
        <div class="slidecontainer">
            <input id="PLK-minutes" type="range" min="0" max="4">
            <input id="PLK-seconds" type="range" min="0" max="59">
            <span id="PLK-points"></span>
        </div>
    </div>
    <div class="card">
        <h3 class="title">Two-Mile Run (2MR)</h3>
        <div class="slidecontainer">
            <input id="TMR-minutes" type="range" min="0" max="26">
            <input id="TMR-seconds" type="range" min="0" max="59">
            <span id="TMR-points"></span>
        </div>
    </div>

  </div>
	
  <footer class="page-footer">
		<div class="container footer-wrapper">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="blue-grey-text text-lighten-5">ABOUT</h5>
					<p class="blue-grey-text text-lighten-2">This is a totally free open-source project. You can view all the code in my github repository or contribute! I also appreciate any donations to help keep this kind of project running, so consider buying me a coffee! </p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="blue-grey-text text-lighten-5">Links</h5>
					<ul>
						<li><a class="cyan-text text-darken-3" href="https://buymeacoffee.com/MingLeeNg" target="_blank">Buy me a coffee!</a></li>
						<li><a class="cyan-text text-darken-3" href="https://minglee.me" target="'_blank">Visit my webpage!</a></li>
                        <li><a class="cyan-text text-darken-3" href="https://github.com/redconOne/acft" target="_blank">Github Repository</a>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container blue-grey-text text-lighten-5">
			© 2022 created by Ming Lee Ng
			</div>
		</div>
	</footer>

	<script src="js/script.js"></script>
</body>

</html>